<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Site</title>
</head>

<body>
  <div id="profile-information-container">
    <% if (locals.name) { %>
      <h1><%=locals.name%></h1>
    <% } %>
    <% if (locals.profilePicture) { %>
      <img width="200px" class="profile-picture" src="<%=locals.profilePicture%>" alt="Profile Picture">
    <% } %>
    <% if (locals.followerCount) { %>
      <h3><%=locals.followerCount%> followers</h3>
    <% } %>
    <% if (locals.profileLink) { %>
      <a href="<%=locals.profileLink%>">Your Profile</a>
    <% } %>
  </div>
  <br><br><br>
  <div id="favourite-tracks-container">
    <% if (locals.trackNames) { %>
      <% for (var i = 0; i < locals.trackNames.length; i++) {%>
          <div class="track-container">
            <h3 class="track-name"><%=locals.trackNames[i]%></h3>
            <img class="track-cover" src="<%=locals.trackImages[i]%>" alt="album cover">
          </div>

      <%}%>
    <%}%>
  </div>


  <form action="/login" method="GET">
    <button id="login-button" type="submit">Login</button>
  </form>
  <script src="script.js"></script>
</body>

</html>